<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="" class="brand-link">
        <img src="/theme/adminlte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Admin<b>PR</b></span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">THE WORLD</li>
                <li class="nav-item">
                    <a href="/admin/world/dashboard" class="nav-link">
                        <i class="nav-icon fas fa-globe-americas"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/world/countries" class="nav-link">
                        <i class="nav-icon fas fa-flag"></i>
                        <p>Countries</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/world/properties" class="nav-link">
                        <i class="nav-icon fas fa-sitemap"></i>
                        <p>Properties</p>
                    </a>
                </li>
                <li class="nav-header">ADMIN TEAM</li>
                <li class="nav-item">
                    <a href="/admin/team" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Team Profiles</p>
                    </a>
                </li>
                <li class="nav-header">ACCOUNT</li>
                <li class="nav-item">
                    <a href="/admin/account/profile" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>Profile</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/account/settings" class="nav-link">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>Settings</p>
                    </a>
                </li>
                <li class="nav-header"><div style="height:50px;"></div></li>
            </ul>
        </nav>
    </div>
</aside>